* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.hero {
    background-image: url(http://www.journeyoflight.com/journey12/photographs/color/pacificnorthwest/larger/img_5585_olympicpresunset_d-bed-curve.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    position: relative;
    display: flex;
    justify-content: center;
}

.hero-profile {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    background-color: rgb(112, 110, 110, .6);
    width: 400px;
    height: 250px;
    position: absolute;
    bottom: 240px;
    text-align: center;
    border-radius: 10px;
    border-width: 3px;
    border-color:  rgb(77, 75, 75);
    border-style: solid;
}

ul {
    list-style-type: none;
}

ul li {
    margin: 5px;
}

nav {
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: olivedrab;
}

.about-me {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color: rgb(77, 75, 75);
    background-color: rgb(245, 234, 204);
    padding: 15px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 2%;
}

.about-me h2 {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.my-work {
    display: flex;
    justify-content: center;
    margin: 2%;
    flex-direction: column;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color: rgb(77, 75, 75);
    background-color: rgb(245, 234, 204);
}

.my-work h2 {
    margin: 1%;
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-style:dashed;
    border-width: 2px;
    padding: 5px; 
    margin: auto;
}

.run-buddy-img img {
    width: 55%;
    height: 390px;
    border-style:solid;
    border-width: 3px;
    border-color:  rgb(77, 75, 75);
    margin: 10px;
    border-radius: 10px;
}

.smaller-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
    margin-bottom:20px;
    margin-left:140px;
    margin-right: 140px;
}

.smaller-projects img {
    display: flex;
    flex-wrap: wrap;
    width: 440px;
    height: 320px;
    margin: 25px;
    border-style:solid;
    border-width: 3px;
    border-color:  rgb(77, 75, 75);
    border-radius: 10px;
}

footer {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color: rgb(77, 75, 75);
    background-color: rgb(245, 234, 204);
    padding: 15px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 2%;
}

html {
    scroll-behavior: smooth;
  }